@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Poppins - Italic */
@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* Poppins - Medium */
@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500; /* o 'medium' */
  font-style: normal;
}

/* Poppins - Medium Italic */
@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-MediumItalic.ttf') format('truetype');
  font-weight: 500; /* o 'medium' */
  font-style: italic;
}

/* Poppins - Bold */
@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Poppins - Bold Italic */
@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

#root {
  min-height: 100%;
  padding: 150px 0 150px;
}

.modal {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}
